#CPInfo, #CPDate{
    display:flex;
    flex-direction: column;
}

#Done, #CPTop{
    display:flex;
    justify-content:space-between;
}

#CPTop button{
    font-size: 2rem;
}

#Cancel{
    background-color: rgba(181, 59, 59, 0.7)
}

#Cancel:hover{
    background-color: rgba(181, 59, 59, 1)
}

#AddCheckpoint{
    background-color: rgba(41, 156, 3, 0.7)
}

#AddCheckpoint:hover{
    background-color: rgba(41, 156, 3, 1)
}
