<h1 mat-dialog-title>Add a person </h1>
<form id="FormAddPeople" mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="First Name" [formControl]="firstName" required>
    <mat-icon matSuffix>person</mat-icon>
    <mat-error *ngIf="firstName.invalid">{{getRequiredMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Last Name" [formControl]="lastName" required>
    <mat-icon matSuffix>person</mat-icon>
    <mat-error *ngIf="lastName.invalid">{{getRequiredMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Mail</mat-label>
    <input matInput placeholder="Mail" [formControl]="email" required>
    <mat-icon matSuffix>email</mat-icon>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Phone</mat-label>
    <input matInput placeholder="Phone" [formControl]="phone" required>
    <mat-icon matSuffix>phone</mat-icon>
    <mat-error *ngIf="phone.invalid">{{getRequiredMessage()}}</mat-error>
  </mat-form-field>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial>Add
    <mat-icon matSuffix>person_add</mat-icon>
  </button>
</div>