#FormAddPeople{
    display:flex;
    flex-direction: column;
}
#Cancel{
    background-color: rgba(190, 1, 1, 0.7)
}
#Cancel:hover{
    background-color: rgba(190, 1, 1, 1)
}
#AddPeople{
    background-color: rgba(41, 156, 3, 0.7)
}

#AddPeople:hover{
    background-color: rgba(41, 156, 3, 1)
}
