<mat-toolbar color="primary">

    <div class='site-logo mt-5'>
        <a href='/home'> <img id="Logo" src='../../assets/home_logo.png' style="width:80%" /></a>
    </div>

    <span class="spacer"></span>

    <button mat-button [matMenuTriggerFor]="user">Username <mat-icon>person_pin</mat-icon> </button>
    <mat-menu #user="matMenu">
        <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Log out</span>
        </button>
    </mat-menu>

</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/home/checkpoint']" style="font-family: Arial, Helvetica, sans-serif">
              <mat-icon>place</mat-icon>
              <h3>Checkpoints</h3>
            </a>
            <a mat-list-item [routerLink]="['/home/person']" style="font-family: Arial, Helvetica, sans-serif">
              <mat-icon>group</mat-icon>
              <h3>People</h3>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- Footer -->
<footer class="footer">
  <div>
  <!-- Copyright -->
  <div style="float: right">© 2019 Copyright: Miage Groupe 6 </div>
  <!-- Copyright -->
  <div style="float: left">Last update: {{lastUpdate |async | date}} </div>

  </div>

</footer>
<!-- Footer -->

